
@model najjar.biz.Models.Employees
@{

    Layout = "~/Views/Shared/_Admin_Layout.cshtml";

    var Id = @ViewBag.Employeeid;
    var Idd = Request.QueryString["Employeeid"];
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <br />
            <ul class="nav nav-stacked nav-pills">
                @*<li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>*@
                <li id="PersonalInfo">
                    @Html.ActionLink("Personal Information", "PersonalPage", new { Employeeid = Idd })
                </li>
                <li id="SalaryInfo" class="active">
                    @Html.ActionLink("Salary Information", "SalaryInfo", new { Employeeid = Idd })
                </li>
                <li id="EmployeeDocs">
                    @Html.ActionLink("My Documents", "EmployeeDocs", "Support", new { Employeeid = Idd }, null)
                </li>
                <li id="EmployeeVacation">
                    @Html.ActionLink("Employee Vacation", "EmployeeVacation", "EmployeesVacation", new { Employeeid = Idd }, null)
                </li>
                <li id="EmployeeRating">
                    @Html.ActionLink("Employee Rating", "EmployeeRating", "EmployeeRating", new { Employeeid = Idd }, null)
                </li>
                @*<li id="Termination">
                        @Html.ActionLink(" Termination Status", "SalaryInfo")
                    </li>*@

            </ul>
        </div>
        <h2 style="color: #15a589">Salary Information</h2>
        <div class="col-md-6 col-sm-8" id="PersonalInfoDV" style="margin-top: 2%; margin-left: 1%">


            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.BasicSalary):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BasicSalary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TrasportAllowance):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrasportAllowance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HousingAllowance):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HousingAllowance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FoodAllowance):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FoodAllowance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalSalary):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalSalary)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.MonthlySalary):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MonthlySalary)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.OrgUnit):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrgUnit)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.WorkSchedule):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WorkSchedule)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.PersonalArea):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PersonalArea)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CostCenter):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CostCenter)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TelephoneFaxExpenses):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TelephoneFaxExpenses)
                </dd>
            </dl>
        </div>
        <div class="col-md-2 col-sm-6" id="PersonalInfoDV" style="margin-top: -24%; margin-left: 60%">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Others):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Others)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RelocAllowNoTax):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RelocAllowNoTax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MiscellaneousDeductions):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiscellaneousDeductions)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DSPP):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DSPP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NetPay):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NetPay)
                </dd>


                @*<dt>
                    @Html.DisplayNameFor(model => model.TotalEarnings):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalEarnings)
                </dd>*@


                @*<dt>
                    @Html.DisplayNameFor(model => model.TotalDeductions):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalDeductions)
                </dd>*@


                <dt>
                    @Html.DisplayNameFor(model => model.MESSAGES):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MESSAGES)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccountNumber):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountNumber)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.CurrencyPaidIn):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrencyPaidIn)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.ExhangeRate):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExhangeRate)
                </dd>




            </dl>
            <!-- /.row -->
        </div>

        <td>

            <p  style="margin-top: 25%; margin-left: 50%">
                @Html.ActionLink("Update Salary Info", "EditSalary", new { id = Model.Id })

            </p>
</td>
    </div>

</div>




