@model najjar.biz.Models.Employees
@{

    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" 
            integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" 
            crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-stacked nav-pills">
                <li id="PersonalInfo" style="color: #15a589 !important;">
                    @Html.ActionLink("Personal Information", "PersonalPage", new { Employeeid = Model.Id })
                </li>
                <li id="SalaryInfo" class="active" style="color: #15a589 !important;">
                    @Html.ActionLink("Salary Information", "SalaryInfo", new { Employeeid = Model.Id })
                </li>
                <li id="EmployeeDocs" style="color: #15a589 !important;">
                    @Html.ActionLink("My Documents", "EmployeeDocs", "Support", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeVacation" style="color: #15a589 !important;">
                    @Html.ActionLink("Employee Vacation", "EmployeeVacation", "EmployeesVacation", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" style="color: #15a589 !important;">
                    @Html.ActionLink("Employee Rating", "EmployeeRating", "EmployeeRating", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" style="color: #15a589 !important;">
                    @Html.ActionLink("Termination Info", "TerminationInfo", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" style="color: #15a589 !important;">
                    @Html.ActionLink("Exams Info", "ExamsInfo", "OnlineExam", new { Employeeid = Model.Id }, null)
                </li>
            </ul>
        </div>
        <div id="salary-info" class="col-md-8">
            <h2 class="text-center" style="color: #15a589 !important;">Salary Information</h2>
            <table class="table table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BasicSalary):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.BasicSalary)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.TrasportAllowance):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TrasportAllowance)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HousingAllowance):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.HousingAllowance)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.FoodAllowance):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.FoodAllowance)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalSalary):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TotalSalary)

                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.MonthlySalary):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.MonthlySalary)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrgUnit):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.OrgUnit)
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkSchedule):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.WorkSchedule)
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PersonalArea):</th>
                    <td>@Html.DisplayFor(model => model.PersonalArea)</td>
                    <th>@Html.DisplayNameFor(model => model.CostCenter):</th>
                    <td>@Html.DisplayFor(model => model.CostCenter)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TelephoneFaxExpenses):</th>
                    <td>@Html.DisplayFor(model => model.TelephoneFaxExpenses)</td>
                    <th>@Html.DisplayNameFor(model => model.Others):</th>
                    <td>@Html.DisplayFor(model => model.Others)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.RelocAllowNoTax):</th>
                    <td>@Html.DisplayFor(model => model.RelocAllowNoTax)</td>
                    <th>@Html.DisplayNameFor(model => model.MiscellaneousDeductions):</th>
                    <td>@Html.DisplayFor(model => model.MiscellaneousDeductions)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DSPP):</th>
                    <td>@Html.DisplayFor(model => model.DSPP)</td>
                    <th>@Html.DisplayNameFor(model => model.NetPay):</th>
                    <td>@Html.DisplayFor(model => model.NetPay)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TotalEarnings):</th>
                    <td>@Html.DisplayFor(model => model.TotalEarnings)</td>
                    <th>@Html.DisplayNameFor(model => model.TotalDeductions):</th>
                    <td>@Html.DisplayFor(model => model.TotalDeductions)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MESSAGES):</th>
                    <td>@Html.DisplayFor(model => model.MESSAGES)</td>
                    <th>@Html.DisplayNameFor(model => model.AccountNumber):</th>
                    <td>@Html.DisplayFor(model => model.AccountNumber)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CurrencyPaidIn):</th>
                    <td>@Html.DisplayFor(model => model.CurrencyPaidIn)</td>
                    <th>@Html.DisplayNameFor(model => model.ExhangeRate):</th>
                    <td>@Html.DisplayFor(model => model.ExhangeRate)</td>
                </tr>
            </table>
                <!-- /.row -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            @Html.ActionLink("Update Salary Info", "EditSalary", new { id = Model.Id }, new { @class="btn btn-default" })
            </div>
        <div class="col-md-4">
            <input type="button" id="pdfDownloader" value="print salary Info" class="btn btn-success" />
        </div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript">
  
    $(document).ready(function () {


        $("#pdfDownloader").click(function () {

            html2canvas(document.getElementById("salary-info"), {
                onrendered: function (canvas) {

                    var imgData = canvas.toDataURL('image/png');
                    console.log('Report Image URL: ' + imgData);
                    var doc = new jsPDF(); //210mm wide and 297mm high
                    doc.addImage(imgData, 'PNG', 10, 15);
                    doc.save('sample.pdf');
                }
            });
        });
    });

</script>
}  



