@model najjar.biz.Models.Employees
@{

    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-stacked nav-pills">
                <li id="PersonalInfo" style="color: #071689 !important;">
                    @Html.ActionLink("Personal Information", "PersonalPage", new { Employeeid = Model.Id })
                </li>
                <li id="SalaryInfo" style="color: #071689 !important;">
                    @Html.ActionLink("Salary Information", "SalaryInfo", new { Employeeid = Model.Id })
                </li>
                <li id="EmployeeDocs" style="color: #071689 !important;">
                    @Html.ActionLink("My Documents", "EmployeeDocs", "Support", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeVacation" style="color: #071689 !important;">
                    @Html.ActionLink("Employee Vacation", "EmployeeVacation", "EmployeesVacation", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" style="color: #071689 !important;">
                    @Html.ActionLink("Employee Rating", "EmployeeRating", "EmployeeRating", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" class="active" style="color: #071689 !important;">
                    @Html.ActionLink("Termination Info", "TerminationInfo", new { Employeeid = Model.Id }, null)
                </li>
                <li id="EmployeeRating" style="color: #071689 !important;">
                    @Html.ActionLink("Exams Info", "ExamsInfo", "OnlineExam", new { Employeeid = Model.Id }, null)
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2 class="text-center" style="color: #071689 !important;">Termination Info</h2>
            <table class="table table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminationDate):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TerminationDate)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminationReason):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TerminationReason)
                    </td>

                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminationMode):
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TerminationMode)

                    </td>

                </tr>

            </table>
            <!-- /.row -->
        </div>
    </div>
    <div class="row">
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-md-offset-4 col-md-4" style=" left: 10%;">
                @Html.ActionLink("Update Termination Info", "EditTermination", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
        }

    </div>
</div>
