@model najjar.biz.Models.EmployeeProspect

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<head>

    <title>Details </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.css">
</head>

<div>
    <div class="panel panel-primary" id="PersonalInformation_Panel">
        <div class="panel-heading" id="PersonalInformation_PanelHeading">
            <div class="row">
                <div class="col-md-10">
                    <span><i class="fa fa-info-circle" style="font-size:large"></i></span> &nbsp;
                    <a data-toggle="collapse" href="#PersonalInof_collapse" style="font-size:large;color:white;font-weight:bolder">Personal Information</a>
                </div>
                <div class="col-md-2" style="text-align:left">
                    <div class="text-center" style="float:left;">
                        <button type="button" class="btn btn-primary" style="float:right;font-size:x-small" onclick="location.href='@Url.Action("Edit", "EmployeeProspect", new { id = Model.id })'">Edit Info</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="PersonalInof_collapse" class="panel-collapse collapse in">
            <div class="panel-body" id="PersonalInformation_Panel" style="color: #071689;font-size:large;font-weight:bold">

                <div class="row">
                    <div class="col-md-3" style="text-align:center;">
                        @if (Model.EmployeeImage != null)
                        {
                            var path = Path.Combine("/Images/", Model.EmployeeImage);
                            <img src="@path" alt="@Model.Name" title="@Model.Name" class="img-thumbnail" height="200" />
                        }
                    </div>
                    <div class="col-md-9" style="text-align:left">
                        <div>
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                        </div>
                        <div>
                            <i class="fa fa-home"></i>
                            @Html.DisplayFor(model => model.Address)
                        </div>
                        <div>
                            <i class="fa fa-building"></i>
                            @Html.DisplayFor(model => model.AddressInArabic)
                        </div>
                        <div>
                            <i class="fa fa-phone"></i>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </div>
                        <div>
                            <i class="fa fa-tty"></i>
                            @Html.DisplayFor(model => model.FixedNumber)
                        </div>
                        <div>
                            <i class="fa fa-envelope"></i>&nbsp;
                            @Html.DisplayFor(model => model.Email)
                        </div>
                        <div>
                            <i class="fa fa-birthday-cake"></i>
                            <span>@Html.DisplayFor(model => model.BirthDate)</span>
                            <span>@Html.DisplayFor(model => model.BirthPlace)</span>
                        </div>
                        <div>
                            <span> Nationality:</span>
                            <span>@Html.DisplayFor(model => model.Nationality)</span>
                            &nbsp;&nbsp;
                            <span> Sex:</span>
                            <span>@Html.DisplayFor(model => model.Sex)</span>
                        </div>

                        <div>
                            <i class="fa fa-heart"></i>&nbsp;
                            @Html.DisplayFor(model => model.MaritalStatus)
                        </div>
                        <div>
                            <i class="fa fa-rocket"></i>&nbsp;
                            Military Service:
                            @Html.DisplayFor(model => model.militaryService)
                        </div>

                    </div>

                </div>
            </div>
        </div>
        
    </div>
    
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<!-- =============== Work Experience Panel ==================-->
<div class="panel panel-primary" id="WorkExperience_Panel">
    <div class="panel-heading" id="WorkExperience_Panel_Heading">
        <div class="row">
            <div class="col-md-10">
                <span><i class="fa fa-gavel" style="font-size:large"></i></span> &nbsp;
                <a data-toggle="collapse" href="#WorkExperience_collapse" style="font-size:large;color:white;font-weight:bolder">Work Experience</a>
            </div>
            <div class="col-md-2" style="text-align:left">
                <div class="text-center" style="float:left;">
                    <button type="button" class="btn btn-primary" style="float:right;font-size:x-small" data-toggle="modal" data-target="#WorkExperienceModa">Add Work Experience</button>
                </div>
            </div>
        </div>
    </div>
    <div id="WorkExperience_collapse" class="panel-collapse collapse">
        <div class="panel-body" id="WorkExperience_Panel_Body" style="color: #071689;font-size:large;font-weight:bold">


        </div>

    </div>
    
</div>

<!-- Work Experienc Modal -->
<div id="WorkExperienceModa" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add New Work Experience</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form data-toggle="validator" method="POST" role="form" id="WorkExperience_Form">
                                <div class="form-group row">
                                    <label for="WorkExperience_From">From</label>
                                    <input type="date" id="WorkExperience_From" class="form-control" name="From" required />
                                </div>
                                <div class="form-group row">
                                    <label for="WorkExperience_To">To</label>
                                    <input type="date" id="WorkExperience_To" class="form-control" name="To" required />
                                </div>
                                <div class="form-group row">
                                    <label for="Position">Position</label>
                                    <input type="text" id="WorkExperience_Position" placeholder="Your position" class="form-control" name="Position" required />
                                </div>
                                <div class="form-group row">
                                    <label for="Description">Description</label>
                                    <textarea  id="WorkExperience_Description" class="form-control" placeholder="Descirbe your responsabilites" name="Description" required >
                                        </textarea>
                                </div>

                            <br />
                                <input type="hidden" id="WorkExperience_id" name="Direction" value="add" />
                                <div class="form-group row">

                                    <input class="btn btn-primary" name="submitButton" id="WorkExperience_btnSave" value="Save" type="button" style="float:right">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<!-- =============== Certifications Panel ==================-->
<div class="panel panel-primary" id="Certification_Panel">
    <div class="panel-heading" id="Certification_Panel_Heading">
        <div class="row">
            <div class="col-md-10">
                <span><i class="fa fa-graduation-cap" style="font-size:large"></i></span> &nbsp;
                <a data-toggle="collapse" href="#Certification_collapse" style="font-size:large;color:white;font-weight:bolder">Certifications</a>
            </div>
            <div class="col-md-2" style="text-align:left">
                <div class="text-center" style="float:left;">
                    <button type="button" class="btn btn-primary" style="float:right;font-size:x-small" data-toggle="modal" data-target="#CertificationModa">Add Certification</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Certification_collapse" class="panel-collapse collapse">
        <div class="panel-body" id="Certification_Panel_Body" style="color: #071689;font-size:large;font-weight:bold">


        </div>

    </div>
    
</div>

<form data-toggle="validator" method="POST" role="form" id="Certification_Form">
    <!--Certifications Modal -->
    <div id="CertificationModa" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Add New Certification</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">

                                <div class="form-group row">
                                    <label for="Name">Name</label>
                                    <input type="text" id="Certification_Name" class="form-control" name="Name" required />
                                </div>

                                <div class="form-group row">
                                    <label for="Certification_Certification Date">Certification Date</label>
                                    <input type="date" id="Certification_CertificationDate" class="form-control" name="Certification Date" required />
                                </div>

                                <div class="form-group row">
                                    <label for="University">University</label>
                                    <input type="text" id="Certification_University" class="form-control" name="University" required />
                                </div>

                                <div class="form-group row">
                                    <label for="Location">Location</label>
                                    @Html.DropDownList("Country", new SelectList(ViewBag.country, "code", "name"), "--Select--", new { @id = "Certification_Location", @class = "form-control" })
                                    @*<input type="text" id="Certification_Location" class="form-control" name="Location" required />*@
                                </div>
                                <br />

                                <input type="hidden" id="Certification_id" name="Direction" value="add" />
                                <div class="form-group col-lg-12">

                                    <input class="btn btn-primary" name="submitButton" id="Certification_btnSave" value="Save" type="button" style="float:right">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</form>
<!-- =============== Language Panel ==================-->
<div class="panel panel-primary" id="Language_Panel">
    <div class="panel-heading" id="Language_Panel_Heading">
        <div class="row">
            <div class="col-md-10">
                <span><i class="fa fa-language" style="font-size:large"></i></span> &nbsp;
                <a data-toggle="collapse" href="#Language_collapse" style="font-size:large;color:white;font-weight:bolder">Languages</a>
            </div>
            <div class="col-md-2" style="text-align:left">
                <div class="text-center" style="float:left;">
                    <button type="button" class="btn btn-primary" style="float:right;font-size:x-small" data-toggle="modal" data-target="#LanguageModa">Add Language</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Language_collapse" class="panel-collapse collapse">
        @*<div class="panel-body" id="Language_Panel_Body" style="color: #071689;font-size:large;font-weight:bold">*@
            <ul id="Language_Panel_Body" class="list-group" style="color: #071689;font-size:large;font-weight:bold">
            </ul>

    </div>

</div>
<form data-toggle="validator" method="POST" role="form" id="Language_Form">
    <!-- Language Modal -->
    <div id="LanguageModa" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Add New Language</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <label for="Name">Name</label>
                                    @Html.DropDownList("Language", new SelectList(ViewBag.Language, "code", "name"), "--Select--", new { @id = "Language_Name", @class = "form-control" })
                                    @*<input type="text" id="Language_Name" class="form-control" name="Name" required />*@

                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="Level">Level</label>
                                    @Html.DropDownList("LanguageLevel", new SelectList(ViewBag.LanguageLevel, "code", "name"), "--Select--", new { @id = "Language_Level", @class = "form-control" })
                                    @*<input type="text" id="Language_Level" class="form-control" name="Level" required />*@
                                </div>
                                <br />
                                <input type="hidden" id="Language_id" name="Direction" value="add" />
                                <div class="form-group col-lg-12">

                                    <input class="btn btn-primary" name="submitButton" id="Language_btnSave" value="Save" type="button" style="float:right">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">


                </div>
            </div>

        </div>
    </div>

</form>


<!-- =============== Skill Panel ==================-->
<div class="panel panel-primary" id="Skill_Panel">
    <div class="panel-heading" id="Skill_Panel_Heading">
        <div class="row">
            <div class="col-md-10">
                <span><i class="fa fa-trophy" style="font-size:large"></i></span> &nbsp;
                <a data-toggle="collapse" href="#Skill_collapse" style="font-size:large;color:white;font-weight:bolder">Skills</a>
            </div>
            <div class="col-md-2" style="text-align:left">
                <div class="text-center" style="float:left;">
                    <button type="button" class="btn btn-primary" style="float:right;font-size:x-small" data-toggle="modal" data-target="#SkillModa">Add Skill</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Skill_collapse" class="panel-collapse collapse">
        <div class="panel-body" id="Skill_Panel_Body" style="color: #071689;font-size:large;font-weight:bold">


        </div>

    </div>

</div>

<!-- Skill Modal -->
<div id="SkillModa" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add New Skill</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form data-toggle="validator" method="POST" role="form" id="Skill_Form">
                            <div class="row">
                               
                                <div class="form-group row">
                                    <label for="Name">Name</label>
                                    <input type="text" id="Skill_Name" class="form-control" name="Name" required />
                                </div>
                                <div class="form-group row">
                                    <label for="Description">Description</label>
                                    <textarea id="Skill_Description" class="form-control" name="Description" rows="3" required></textarea>
                                </div>

                                <input type="hidden" id="Skill_id" name="Direction" value="add" />
                                <br />
                                <div class="form-group col-lg-12">

                                    <input class="btn btn-primary" name="submitButton" id="Skill_btnSave" value="Save" type="button" style="float:right">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>


<script src="~/js/date.format.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.js"></script>



@section Scripts
{
    <script type="text/javascript">

    var toDelete=false;
    $(document).ready(function () {
        WorkExperienceLoadData();
        CertificationLoadData();
        LanguageLoadData();
        SkillLoadData();



        $('[data-toggle="tooltip"]').tooltip();
    });

    function warn(message){
        Swal.fire({
            title: 'Error!',
            text: message,
            type: 'error',
            confirmButtonText: 'OK'
        });
    }
    function successMessage(){
        Swal.fire({
            position: 'top-end',
            type: 'success',
            title: 'Your work has been saved',
            showConfirmButton: false,
            timer: 2000
        })
    }

    function  confrimAction(){


    }

    $(function () {
        $("#WorkExperience_btnSave").click(function () {
            //alert("");
            if($("#WorkExperience_From").val()=='')
                warn("Please fill from date")
            else if($("#WorkExperience_To").val()=='')
                warn("Please fill to date")
            else if($("#WorkExperience_Position").val()=='')
                warn("Please fill the postition");
            else if ($("#WorkExperience_Description").val()=='')
                warn("Please fill description of your work");
            else{
                var std = {};
                var edit=$("#WorkExperience_id").val()=='add'?0:1;
                var urlString='@Url.Action("addWorkExperience", "EmployeeProspect")';
                std.From = $("#WorkExperience_From").val();
                std.To = $("#WorkExperience_To").val();
                std.Position = $("#WorkExperience_Position").val();
                std.Description = $("#WorkExperience_Description").val();
                if(edit==1){
                    urlString='@Url.Action("EditWorkExperience", "EmployeeProspect")';
                    std.id=$("#WorkExperience_id").val();
                }
                std.EmployeeProspectId=@Model.id;


                $.ajax({
                    type: "POST",
                    url: urlString,
                    data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#WorkExperienceModa').modal('hide');
                        $("#WorkExperience_From").val('');
                        $("#WorkExperience_To").val('');
                        $("#WorkExperience_Position").val('');
                        $("#WorkExperience_Description").val('');
                        $("#WorkExperience_id").val('add');
                        jQuery('#WorkExperience_Panel_Body div').remove();

                        WorkExperienceLoadData();
                        successMessage();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }});
    });
    function WorkExperienceLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getWorkExperiences", "EmployeeProspect")',
            dataType: 'json',
            data: { id: @Model.id},
            success: function (data) {
                var items = '';


                $.each(data, function (i, item) {
                    var from_date = item.From;
                    var to_date = item.To;
                    var from =  new Date(parseInt(from_date.substr(6)));
                    var to = new Date(parseInt(to_date.substr(6)))


                    var row="<span><div class=\"panel panel-default\">"+
                        "<div class=\"panel-heading\">"+
                        "<div class=\"row\" > "+
                        "<div class=\"col-md-3\" style=\"color: #071689;font-size:larger;font-weight:bold\">"+

                        from.format("dd/mm/yyyy") + "-"+to.format("dd/mm/yyyy")+
                        //class=\"col-md-3\"
                        "</div> "
                        +"<div class=\"col-md-5\" style=\"color: black;font-size:larger;font-weight:bold\"> "+item.Position+
                        //class=\"col-md-5\"
                        " </div>"+
                        " <div class=\"col-md-4\">"
                        +"<button type=\"button\" class=\"btn btn-info\" style=\"margin-left:4px;float:right;font-size:x-small\" onclick=\"DeleteWorkExperience("+item.id +");\">Delete </button>"
                        //+"<span><a href=\"#\" onclick=\"DeleteWorkExperience("+item.id +");\" data-toggle=\"tooltip\" title=\"Delete\"><i class=\"fa fa-remove\" style=\"font-size:x-large\"></i></a></span>"+
                        //+"<a href=\"#\" onclick=\"EditWorkExperienceModal("+item.id+','+from.format("yyyy/mm/dd")+','+to.format("yyyy/mm/dd")+',\''+item.Position+'\',\''+item.Description+"\');\"><i class=\"fa fa-pencil\" style=\"font-size:x-large\" data-toggle=\"tooltip\" title=\"Edit\"></i></a>"+
                        +"<button type=\"button\" class=\"btn btn-info\" style=\";float:right;font-size:x-small\" onclick=\"EditWorkExperienceModal("+item.id+',\''+from.format("yyyy/mm/dd")+'\',\''+to.format("yyyy/mm/dd")+'\',\''+item.Position+'\',\''+item.Description+"\');\">Edit </button>"
                        //class=\"col-md-4\"
                        +"</div>"
                        //class=row
                        +"</div>"
                        //class= panel-heading
                        +"</div> "

                        +"<div class=\"panel-body\"> <div class=\"row\"><div class=\"col-md-1\"></div> <div class=\"col-md-5\">"+item.Description+"</div> </div> </div> </div></span>";
                    $('#WorkExperience_Panel_Body').append(row);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }

    function DeleteWorkExperience(workExperienceId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
            swalWithBootstrapButtons.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            );
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("deleteWorkExperience", "EmployeeProspect")',
            dataType: 'json',
            data: { id: workExperienceId},
            success: function (data) {
                jQuery('#WorkExperience_Panel_Body div').remove();
                toDelete=false;
                WorkExperienceLoadData();
                successMessage();

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your data is safe :)',
          'error'
        );
    }
    });


    }
    function EditWorkExperienceModal(workExperienceId,from,to, position,description) {

        var toD=new Date(to);
        var fromD=new Date(from);
        $("#WorkExperience_From").val(fromD.format("yyyy-mm-dd"));
        $("#WorkExperience_To").val(toD.format("yyyy-mm-dd"));
        //document.getElementById("WorkExperience_To").value=toD.format("yyyy-mm-dd");
        $("#WorkExperience_Position").val(position);
        $("#WorkExperience_Description").val(description);
        $("#WorkExperience_id").val(workExperienceId);
        $('#WorkExperienceModa').modal('show');

    }
    //Certificatoins -=============================================

    //save function


    $(function () {
        $("#Certification_btnSave").click(function () {
            if($("#Certification_Name").val()=='')
                warn("Please fill certification name");
            else if($("#Certification_CertificationDate").val()=='')
                warn("Please fill certification date");
            else if($("#Certification_University").val()=='')
                warn("Please fill university");
            else if ($("#Certification_Location").val()=='')
                warn("Please select location")
            else{
                var std = {};
                var edit=$("#Certification_id").val()=='add'?0:1;
                var urlString='@Url.Action("addCertification", "EmployeeProspect")';
                std.Name = $("#Certification_Name").val();
                std.CertificationDate = $("#Certification_CertificationDate").val();
                std.University = $("#Certification_University").val();
                std.Location = $("#Certification_Location").val();
                if(edit==1){
                    urlString='@Url.Action("editCertification", "EmployeeProspect")';
                    std.id=$("#Certification_id").val();
                }
                std.EmployeeProspectId=@Model.id;


                $.ajax({
                    type: "POST",
                    url: urlString,
                    data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#CertificationModa').modal('hide');
                        $("#Certification_Name").val('');
                        $("#Certification_CertificationDate").val('');
                        $("#Certification_University").val('');
                        $("#Certification_Location").val('');
                        $("#Certification_id").val('add');
                        jQuery('#Certification_Panel_Body div').remove();
                        CertificationLoadData();
                        successMessage();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }});
    });



    //loaddata function--------------------------------

    function CertificationLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getCertifications", "EmployeeProspect")',
            dataType: 'json',
            data: { id: @Model.id},
            success: function (data) {
                var items = '';


                $.each(data, function (i, item) {
                    var certifiaction_date = item.CertificationDate;
                    var certifiactionDate =  new Date(parseInt(certifiaction_date.substr(6)));


                    var row="<span><div class=\"panel panel-default\">"+
                        "<div class=\"panel-heading\">"+
                        "<div class=\"row\" > "+
                        "<div class=\"col-md-3\" style=\"color: #071689;font-size:larger;font-weight:bold\">"+

                    certifiactionDate.format("dd/mm/yyyy") +
                        //class=\"col-md-3\"
                        "</div> "
                        +"<div class=\"col-md-5\" style=\"color: black;font-size:larger;font-weight:bold\"> "+item.Name+
                        //class=\"col-md-5\"
                        " </div>"+
                                                " <div class=\"col-md-4\">"


                        +"<button type=\"button\" class=\"btn btn-info\" style=\"margin-left:4px;float:right;font-size:x-small\" onclick=\"DeleteCertification("+item.id +");\">Delete </button>"
                        +"<button type=\"button\" class=\"btn btn-info\" style=\";float:right;font-size:x-small\" onclick=\"EditCertificationModal("+item.id+',\''+item.Name+'\',\''+certifiactionDate.format("yyyy/mm/dd")+'\',\''+item.University+'\',\''+item.Location+"\');\">Edit </button>"
                        //class=\"col-md-4\"
                        +"</div>"
                        //class=row
                        +"</div>"
                        //class= panel-heading
                        +"</div> "

                        +"<div class=\"panel-body\"> <div class=\"row\"><div class=\"col-md-1\"></div> <div class=\"col-md-5\">"+item.Location+" , "+item.University+"</div> </div> </div> </div></span>";
                    $('#Certification_Panel_Body').append(row);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }


    //delete function ------------------------------------------------

    function DeleteCertification(CertificationId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
            swalWithBootstrapButtons.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            );
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("deleteCertification", "EmployeeProspect")',
            dataType: 'json',
            data: { id: CertificationId},
            success: function (data) {
                jQuery('#Certification_Panel_Body div').remove();
                CertificationLoadData();
                successMessage();
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });

    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your data is safe :)',
          'error'
        );
    }
    });


    }

    //edit function ---------------------------------------

    function EditCertificationModal(certificationId,name,certificationDate, university,location) {

        var cerD=new Date(certificationDate);
        $("#Certification_certificationDate").val(cerD.format("yyyy-mm-dd"));
        //document.getElementById("WorkExperience_To").value=toD.format("yyyy-mm-dd");
        $("#Certification_Name").val(name);
        $("#Certification_University").val(university);
        $("#Certification_Location").val(location);

        $("#Certification_id").val(certificationId);
        $('#CertificationModa').modal('show');
    }


    //Language---------------------------------------------



    //save function

    $(function () {
        $("#Language_btnSave").click(function () {
            //alert("");
            if($("#Language_Name").val()=='')
                warn("Language Name can't be null");
            else if($("#Language_Level").val()=='')
                warn("Language Level can't be null");
            else{
                var std = {};
                var edit=$("#Language_id").val()=='add'?0:1;
                var urlString='@Url.Action("addLanguage", "EmployeeProspect")';
                std.Name = $("#Language_Name").val();
                std.Level = $("#Language_Level").val();
                if(edit==1){
                    urlString='@Url.Action("EditLanguage", "EmployeeProspect")';
                    std.id=$("#Language_id").val();
                }
                std.EmployeeProspectId=@Model.id;


                $.ajax({
                    type: "POST",
                    url: urlString,
                    data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#LanguageModa').modal('hide');
                        $("#Language_Name").val('');
                        $("#Language_Level").val('');
                        $("#Language_id").val('add');
                        jQuery('#Language_Panel_Body div').remove();
                        LanguageLoadData();
                        successMessage();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }});
    });

    //loaddata function--------------------------------

    function LanguageLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getLanguages", "EmployeeProspect")',
            dataType: 'json',
            data: { id: @Model.id},
            success: function (data) {
                var items = '';


                $.each(data, function (i, item) {
                    var rowz="<li class=\"list-group-item text-center\" style=\"\  margin-top:5px; margin-right:2px;margin-left:2px\"> "
                    +"<div class=\"row text-center\" > "+
                        "<div class=\"col-md-3\" style=\"color: #071689;font-size:larger;font-weight:bold\">"+

                        item.Name +
                        //class=\"col-md-3\"
                        "</div> "
                        +"<div class=\"col-md-5\" style=\"color: black;font-size:larger;font-weight:bold\"> "+item.Level+
                        //class=\"col-md-5\"
                        " </div>"+
                         " <div class=\"col-md-4\">"


                        +"<button type=\"button\" class=\"btn btn-info\" style=\"margin-left:4px;float:right;font-size:x-small\" onclick=\"DeleteLanguage("+item.id +");\">Delete </button>"
                        +"<button type=\"button\" class=\"btn btn-info\" style=\";float:right;font-size:x-small\" onclick=\"EditLanguageModal("+item.id+',\''+item.Name+'\',\''+item.Level+"\');\">Edit </button>"
                        //class=\"col-md-4\"
                        +"</div>"
                        //class=row
                        +"</div></li>";

                    $('#Language_Panel_Body').append(rowz);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }


    //delete function ------------------------------------------------

    function DeleteLanguage(languageId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
            swalWithBootstrapButtons.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            );
        $.ajax({
            type: 'DELETE',
            url: '@Url.Action("deleteLanguage", "EmployeeProspect")',
            dataType: 'json',
            data: { id: languageId},
            success: function (data) {
                jQuery('#Language_Panel_Body li').remove();
                LanguageLoadData();
                successMessage();
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });

    } else if (
      /* Read more about handling dismissals below */
      result.dismiss === Swal.DismissReason.cancel
    ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Your data is safe :)',
          'error'
        );
    }
    });


    }

    //edit function ---------------------------------------

    function EditLanguageModal(languageId,name,level) {


        $("#Language_Name").val(name);
        $("#Language_Level").val(level);

        $("#Language_id").val(languageId);
        $('#LanguageModa').modal('show');
    }






    //Skill-----------------------------------------------

    //save

    $(function () {
        $("#Skill_btnSave").click(function () {
            if($("#Skill_Name").val()=='')
                warn("Please fill skill name");
            else if($("#Skill_Description").val()=='')
                warn("Please fill skill description");
            else{
                var std = {};
                var edit=$("#Skill_id").val()=='add'?0:1;
                var urlString='@Url.Action("addSkill", "EmployeeProspect")';
                std.Name = $("#Skill_Name").val();
                std.Description = $("#Skill_Description").val();
                if(edit==1){
                    urlString='@Url.Action("EditSkill", "EmployeeProspect")';
                    std.id=$("#Skill_id").val();
                }
                std.EmployeeProspectId=@Model.id;


                $.ajax({
                    type: "POST",
                    url: urlString,
                    data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $('#SkillModa').modal('hide');
                        $("#Skill_Name").val('');
                        $("#Skill_Description").val('');
                        $("#Skill_id").val('add');
                        jQuery('#Skill_Panel_Body div').remove();
                        SkillLoadData();
                        successMessage();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }});
    });


    //load data

    function SkillLoadData() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getSkills", "EmployeeProspect")',
            dataType: 'json',
            data: { id: @Model.id},
            success: function (data) {
                var items = '';


                $.each(data, function (i, item) {
                    var row="<span><div class=\"panel panel-default\">"+
                        "<div class=\"panel-heading\">"+
                        "<div class=\"row\" > "
                        +"<div class=\"col-md-3\" style=\"color: #071689;font-size:larger;font-weight:bold\">"+


                        //class=\"col-md-3\"
                        "</div> "
                        +"<div class=\"col-md-5\" style=\"color: black;font-size:larger;font-weight:bold\"> "+item.Name+
                        //class=\"col-md-5\"
                        " </div>"+
                        " <div class=\"col-md-4\">"
                        +"<button type=\"button\" class=\"btn btn-info\" style=\"margin-left:4px;float:right;font-size:x-small\" onclick=\"DeleteSkill("+item.id +");\">Delete </button>"
                        //+"<span><a href=\"#\" onclick=\"DeleteWorkExperience("+item.id +");\" data-toggle=\"tooltip\" title=\"Delete\"><i class=\"fa fa-remove\" style=\"font-size:x-large\"></i></a></span>"+
                        //+"<a href=\"#\" onclick=\"EditWorkExperienceModal("+item.id+','+from.format("yyyy/mm/dd")+','+to.format("yyyy/mm/dd")+',\''+item.Position+'\',\''+item.Description+"\');\"><i class=\"fa fa-pencil\" style=\"font-size:x-large\" data-toggle=\"tooltip\" title=\"Edit\"></i></a>"+
                        +"<button type=\"button\" class=\"btn btn-info\" style=\";float:right;font-size:x-small\" onclick=\"EditSkillModal("+item.id+',\''+item.Name+'\',\''+item.Description+"\');\">Edit </button>"
                        //class=\"col-md-4\"
                        +"</div>"
                        //class=row
                        +"</div>"
                        //class= panel-heading
                        +"</div> "

                        +"<div class=\"panel-body\"> <div class=\"row\"><div class=\"col-md-1\"></div> <div class=\"col-md-5\">"+item.Description+"</div> </div> </div> </div></span>";
                    $('#Skill_Panel_Body').append(row);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }

    //Delete


        function DeleteSkill(skillId) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                swalWithBootstrapButtons.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                );
            $.ajax({
                type: 'DELETE',
                url: '@Url.Action("deleteSkill", "EmployeeProspect")',
                dataType: 'json',
                data: { id: skillId},
                success: function (data) {
                    jQuery('#Skill_Panel_Body div').remove();
                    SkillLoadData();
                    successMessage();
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
            swalWithBootstrapButtons.fire(
              'Cancelled',
              'Your data is safe :)',
              'error'
            );
        }
        });
        

    }




    //Edit


    function EditSkillModal(skillId,name,description) {


        $("#Skill_Name").val(name);
        $("#Skill_Description").val(description);
        $("#Skill_id").val(skillId);
        $('#SkillModa').modal('show');

    }













    </script>
}  