@model najjar.biz.Models.Support

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var IdSupport = Request.QueryString["Employeeid"];
}

<h2 style="color: #8b224e">Enter Document's Information</h2>
<br />


@using (Html.BeginForm("Create", "Support", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary) 
        </div>
        <div class="editor-label">
            <label>Files:</label>
        </div>
        <div class="editor-field">
            <input type="file" name="file" multiple="multiple" />
        </div>
        <br />

        <p>
            @Html.HiddenFor(model => model.EmpId, new { Value = IdSupport })
            <input type="submit" class="btn btn-primary btn-default" value="Create" onsubmit="location.href='@Url.Action("EmployeeDocs", new { Employeeid = IdSupport })'" class="btn btn-lg" />
      <br/>
           
        </p>
    </fieldset>
}


<div style="color: #071689">

    @Html.ActionLink("Back to List", "EmployeeDocs", new { Employeeid = IdSupport })
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}