@model IEnumerable<najjar.biz.Models.Support>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<div>
    <h2 style="color: #8b224e">Employee Document Management</h2>

    <br />
    <p style="float:right;text-decoration-color:white;">

        <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "Support")'">
            <i class="fa fa-plus-square pull-right" style="font-size:x-large"></i> Create New Employee Document
        </button>

    </p>
    <table id="myTable" class="table table table-striped table-hover col-sm-10 col-md-10">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Summary
                </th>
                <th>Total Files</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @if (item.FileDetails.Count() == 0)
                        {
                            <span>No File</span>
                        }
                        else
                        {
                            <span>@item.FileDetails.Count() File(s)</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Support", new { id = item.SupportId })">
                            <i class="fa fa-pencil" style="font-size:x-large" data-toggle="tooltip" title="Edit Employee Document"></i>
                        </a>
                        &nbsp; &nbsp;
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.SupportId }) |*@
                        @*<a href="@Url.Action("Delete", "Employee", new { id = item.SupportId })" data-toggle="tooltip" title="Delete Employee Document">
                            <i class="fa fa-remove" style="font-size:x-large"></i>
                        </a>*@
                        <a href="javascript:void(0);" data-id="@item.SupportId" class="deleteItem">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</div>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this item?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })
            }
        });
    </script>

}