﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div style="background-color: #ffffff">
        <div class="container">

            <div class="row logo-container">
                <div class="col-xs-6">
                    <a href="/Home">
                        <img src="~/Images/logo-najjar6.png" class="logo-size" style=" margin-top:-15%; margin-left: 5% " />
                    </a>
                </div>
                <div class="col-xs-3 col-xs-offset-3">





                    <div class="container">



                        <ul class="nav navbar-nav" style=" margin-top:-5%">
                            @Html.Partial("_LoginPartial")
                        </ul>







                    </div>








                </div>
            </div>
        </div>
    </div>
    @*<div class="navbar-wrapper">*@


        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                     

                    </div>
                  
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active" style="font-size:large"><a href="/Home"><b>Home</b></a></li>
                                <!-- Service And Products-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:large"><b>Services and Products</b> <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page="wireLine"})">WireLine Logging</a> </li>
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page = "sickLine" })">Slickline</a></li>
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page = "wellTesting" })">Surface Well Testing</a></li>
                                        @*<li><a class="dropdown-item list-group-item list-group-item-dark" style="background-color:black;color:white" href="@Url.Action("Sickline", "Services")">Frac Pump</a></li>*@
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page = "CoiledTubing" })">Coiled Tubing</a></li>
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page = "oilphaseLab" })">Oilphase Lab</a></li>
                                        <li><a href="@Url.Action("ServicesPage", "Services", new { page = "cementing" })">Cementing</a></li>
                                        @*<li class="divider"></li>
                                            <li class="dropdown-header">Nav header</li>*@
                                    </ul>
                                </li>
                                <!-- Renting-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:large"><b>Renting</b><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("cranes", "Home")">Cranes</a> </li>
                                    </ul>
                                </li>
                                <!-- Selling -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:large"><b>Selling</b> <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Quantec", "Services")">Drilling pits</a> </li>
                                    </ul>
                                </li>
                                <!--HSE Dropdown List-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:large"><b>HSE</b><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("HsePage", "Services", new { page = "HSE" })">HSE</a> </li>
                                        <li><a href="@Url.Action("HsePage", "Services", new { page = "HSEenv" })">HSE Environment</a></li>
                                    </ul>
                                </li>
                                <!--Employees Mgmt-->
                                <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole("administrator"))
                                        {
                                <li><a href="@Url.Action("Index", "Employee")" style="font-size:large"><b>Employee Management</b></a></li>
                                        }
                                    }
                                    </li>

                                    @*Employees Information
                                        <li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (User.IsInRole("administrator"))
                                                {<li><a href="@Url.Action("EmployeesPage", "Employee")">Employee Information</a></li>

                                                 }
                                            }
                                        </li>*@





                                    <!--Articles List-->
                                <li><a href="@Url.Action("ArticlesList", "Article")" style="font-size:large"><b>Articles</b></a></li>
                                    <!--About us-->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:large"><b>About us</b><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("WhoWeAre", "Home")">Who We Are?</a> </li>
                                            <li><a href="@Url.Action("CompanyGoals", "Home")">Company Goals</a></li>
                                            <li><a href="@Url.Action("CompanyFutureProspects", "Home")">Company Future Prospects</a></li>
                                        </ul>
                                    </li>

                                    <!--Contact us-->
                                <li><a href="@Url.Action("ContactUs", "Home")" style="font-size:large"><b>Contact us</b></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container" style="padding-top:10px !important;">
            @RenderBody()
            <hr />
        </div>

        <!--footer-->
        <footer class="myfooter" style="padding-top: 1px; ">
            <div class="container">
                <div class=" row">
                    <div class="col-md-4">
                        <h3>About Us</h3>
                        <ul>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                            <li>
                                <a href="#">Twiter</a>
                            </li>
                            <li>
                                <a href="#">Leave a Message</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Important Links</h3>
                        <ul>
                            <li>
                                <a href="#">Services and Products</a>
                            </li>
                            <li>
                                <a href="#">Technical Challenges</a>
                            </li>
                            <li>
                                <a href="#">Businesses</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Contact US</h3>
                        <ul>
                            <li>
                                <a href="/Home/Contact">Contct Information</a>
                            </li>
                            <li>
                                <a href="#">Company Departments</a>
                            </li>
                            <li>
                                <a href="#">Businesses</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="subfooter">
                <p>&copy; @DateTime.Now.Year - NAJJAR Limited.All rights reserved.</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="@Url.Content("~/js/bootstrap.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
