@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Join Us", "jobListForGuest", "Job")</li>
        <li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Roles")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <ul style ="font-size: large; margin-left: -80%" >
                @Html.ActionLink("Join Us", "jobListForGuest", "Job")
                </ul>
</li>

        <li>
            <ul style="font-size: large; margin-left:-15%">

                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </ul>
</li>

        <li>
            <ul style="font-size: large; margin-top: -30%; ">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </ul>
</li>
    </ul>
}
