@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <ul style="font-size: large;">
                    <b> @Html.ActionLink("Join Us", "jobListForGuest", "Job")</b>
                </ul>
            
            </li>
            <li>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @if (User.IsInRole("Administrator"))
                {
                    <ul style="font-size: large;">
                        <b> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "AdminPage", "Roles")</b>
                    </ul>

                }
                @if (!User.IsInRole("Administrator"))
                {

                    <ul style="font-size: large;">

                        <b>  @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "AdminPage", "Roles")</b>
                    </ul>
                }
            </li>
            <li>
                <ul style="font-size: large;">

                    <b>  <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></b>
                </ul>
            
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <ul style="font-size: large;">
                <b> @Html.ActionLink("Join Us", "jobListForGuest", "Job")</b>
            </ul>
        </li>

        <li>
            <ul style="font-size: large;">

                <b>  @Html.ActionLink("Register", "RegisterGuestUser", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</b>
            </ul>
        </li>

        <li>
            <ul style="font-size: large;">
                <b>  @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
            </ul>
        </li>
    </ul>
}
