@model najjar.biz.ViewModels.InstructionPageModel

@{
    ViewBag.Title = "InstructionPage";
}

<h2 class="headertekst"  style="margin-top: 5%; ">Instructions for <strong>@Model.Test.Name</strong> Test. Good Luck!</h2>
<div class="row" style="margin-top:5%">
    <div class="col-xs-6">
        <h4>@Model.Test.Name</h4>
    </div>
    <div class="col-xs-6">
        <h4>Time:&nbsp;@Model.Test.DurationInMinutes</h4>
    </div>
</div>
<div class="row row-bottom-margin">
    <div class="col-xs-offset-6 col-xs-6">
        <h4>
            Number of Questions:&nbsp;@Model.Test.TestXQuestions.Count(q => q.IsActive)
        </h4>
    </div>
</div>
<div class="row row-bottom-margin">
    <div class="col-xs-offset-6 col-xs-6">
        <h4>
            Total Mark:&nbsp;@Model.Test.TestXQuestions.Where(q => q.IsActive).Sum(q => q.Question.points)
        </h4>
    </div>
</div>
<div class="jumbotron">
    @Model.Test.Description
</div>
@using (Html.BeginForm("Register", "OnlineExam", FormMethod.Post, new { @id = "registerForm" }))
{
    @Html.Hidden("TestId", Model.Test.Id)
    @Html.Hidden("employee_code", Model.employee.EmployeeCode)
    <a href="javascript:void(0);" onclick="getElementById('registerForm').submit()" class="btn btn-primary">
        Register and start
    </a>
    
}


<div class="row row-bottom-margin">
    <div class="col-xs-12 col-sm-offset-2 col-sm-6">
        <span class="text-danger" style="font-size:x-large">
            @Html.Raw(TempData["errMessage"])
        </span>
    </div>
</div>


