@model IEnumerable<najjar.biz.Models.ContactUs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<div>
    <h2 style="color: #8b224e">Received Messages Management</h2>

    <br />
    <p style="float:right;text-decoration-color:white;">

        <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "ContactUs")'">
            <i class="fa fa-plus-square pull-right" style="font-size:x-large"></i> Create New Received Messages
        </button>

    </p>
    <table id="myTable" class="table table table-striped table-hover col-sm-10 col-md-10">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ContactUs", new { id = item.id })">
                            <i class="fa fa-pencil" style="font-size:x-large" data-toggle="tooltip" title="Edit Received Messages"></i>
                        </a>
                        &nbsp; &nbsp;
                        @*@Html.ActionLink("Edit", "ContactUs", new { id = item.id }) |*@
                        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@

                        <a href="@Url.Action("Delete", "ContactUs", new { id = item.id })" data-toggle="tooltip" title="Delete Received Messages">
                            <i class="fa fa-remove" style="font-size:x-large"></i>
                        </a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</div>