@model najjar.biz.Models.EmployeeRating

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    var employeeId = Request.QueryString["Employeeid"];
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EmployeeRating</h4>
        <hr />
        @Html.ValidationSummary(true)

        


        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Year", new List<SelectListItem>
                               { new SelectListItem { Text="2019", Value="2019"},
                                    new SelectListItem{Text="2020", Value="2021"},
                                    new SelectListItem { Text="2021", Value="2021"},
                                    new SelectListItem { Text="2022", Value="2022"},
                                    new SelectListItem { Text="2023", Value="2023"},
                                    new SelectListItem { Text="2024", Value="2024"},
                                    new SelectListItem { Text="2025", Value="2025"},
                                    new SelectListItem { Text="2026", Value="2026"},
                                    new SelectListItem { Text="2027", Value="2027"},
                                    new SelectListItem { Text="2028", Value="2028"},
                                    new SelectListItem { Text="2029", Value="2029"},
                                    new SelectListItem { Text="2030", Value="2030"},
                                    new SelectListItem { Text="2031", Value="2031"},
                                    new SelectListItem { Text="2032", Value="2032"},
                                    new SelectListItem { Text="2033", Value="2033"},
                                    new SelectListItem { Text="2034", Value="2034"},
                                    new SelectListItem { Text="2035", Value="2035"},
                                    new SelectListItem { Text="2036", Value="2036"},
                                    new SelectListItem { Text="2037", Value="2037"},
                                    new SelectListItem { Text="2038", Value="2038"},
                                    new SelectListItem { Text="2039", Value="2039"},
                                    new SelectListItem { Text="2040", Value="2040"},
                                 }, "Select Year")
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Rating", new List<SelectListItem>
                               { new SelectListItem { Text="A", Value="A"},
                                    new SelectListItem{Text="B", Value="B"},
                                    new SelectListItem{Text="C", Value="C"},
                                    new SelectListItem{Text="D", Value="D"},
                                    new SelectListItem{Text="E", Value="E"},
                                    new SelectListItem{Text="F", Value="F"}
                                 }, "Select Rating")
                @Html.ValidationMessageFor(model => model.Rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", new List<SelectListItem>
                               { new SelectListItem { Text="Confirmed", Value="Confirmed"},
                                    new SelectListItem{Text="Not Confirmed", Value="Not Confirmed"}
                                 }, "Select Status")
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.EmployeeId, new { Value = employeeId })
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "EmployeeRating", "EmployeeRating", new { Employeeid = employeeId }, null)
</div>
