@model IEnumerable<najjar.biz.Models.EmployeeRating>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div>
    <h2 style="color: #8b224e">Employees Rating Management</h2>

    <br />
    <p style="float:right;text-decoration-color:white;">

        <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "EmployeeRating")'">
            <i class="fa fa-plus-square pull-right" style="font-size:x-large"></i> Create New Employee Rating
        </button>

    </p>

    <table id="myTable" class="table table table-striped table-hover col-sm-10 col-md-10">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModificationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModificationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "EmployeeRating", new { id = item.id })">
                            <i class="fa fa-pencil" style="font-size:x-large" data-toggle="tooltip" title="Edit Employee Rating"></i>
                        </a>
                        &nbsp; &nbsp;
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                        <a href="@Url.Action("Delete", "EmployeeRating", new { id = item.id })" data-toggle="tooltip" title="Delete Employee Rating">
                            <i class="fa fa-remove" style="font-size:x-large"></i>
                        </a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</div>
