@model IEnumerable<najjar.biz.Models.PicklistItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<div>

    <h2 style="color: #8b224e">PicklistItem Management</h2>
    <br />
    <p style="float:right;text-decoration-color:white;">

        <button class="btn btn-primary btn-default" onclick="location.href='@Url.Action("Create", "PicklistItem")'">
            <i class="fa fa-plus-square pull-right" style="font-size:x-large"></i> Create New PicklistItem
        </button>

    </p>
    <table id="myTable" class="table table table-striped table-hover col-sm-10 col-md-10">
        <thead>
            <tr>
                <th>
                    FatherPickList Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    CreationDate
                </th>
                <th>
                    Last Modification Date
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherPickList.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModificationDate)
                    </td>
                   
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <br />


</div>

