@model najjar.biz.Models.Choice
@using najjar.biz.Models;
@{
    ViewBag.Title = "AddNewChoice";
    Question question = ((Question)ViewBag.Question);
    int testId = Convert.ToInt32(ViewBag.TestId);
}

<h2>AddNewChoice</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="jumbotron">
            @question.QuestionText
        </div>
        @Html.ValidationSummary(true)
        
        @Html.Hidden("QuestionId", question.Id)
        @Html.Hidden("TestId", testId)

        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                <strong>Question Points:&nbsp;@question.points</strong>
            </div>
            <div class="col-xs-offset-2 col-xs-4">
                <strong>Question Type:&nbsp;@question.QuestionType</strong>
            </div>
        </div>
        <hr />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-12 col-sm-5">
                @Html.TextBoxFor(model => model.Label, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.Label)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.points, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-12 col-sm-5">
                @Html.TextBoxFor(model => model.points, new { @class="form-control", @type="number"})
                @Html.ValidationMessageFor(model => model.points)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.IsActive)
                        IsActive
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Question List", "QuestionPage", "Question", 
        new { TestId = testId }, 
        new { @class="btn btn-default" } )
</div>
